.text-gray-700 {
  color: #4a5568;
}

.ml-2 {
  margin-left: 0.5rem;
}

li::marker {
  color: #4a5568;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
